
body{
	background-color: rgba(0, 119, 255, 0.2);
	font-size: 70%;
}

header h1{
	font-size: 250%;
	color:#3d3fc0b7;
	font-weight: bold;
	text-align: center;
	padding: 1%;
}
h2, h3{
    font-size: 150%;
    font-weight: bold;
}
footer {
	clear: both;
	text-align:center;
    text-transform: uppercase;
	color:#3d3fc0b7;
}
#cena{
	color: rgb(47, 50, 255);
	font-weight: bold;
	font-size: 300%;
}
#config{
	color: rgb(255, 47, 245);
	font-weight: bold;
	font-size: 150%;
}
.social,.zagolov{
	background-color: rgba(0, 255, 255,0.2);
}
.itog{
	background-color: rgba(255, 217, 0, 0.2);
	padding: 1%;
}
